@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --font-poppins: 'Poppins', sans-serif;
  
    --color-brand-dark: #11161D;
    --color-brand-gold: #D79D28;
    --color-brand-light: #FFFFFF;
}

:root {
  --background: #f8fafc;
  --foreground: #334155;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}
